section{
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray; 
  
}
body{
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: blanchedalmond;
}
main{
    background-color: white;
}
ol{
     color: #444;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
ul li{
    color: #444;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
p{
    color: #444;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
h1{
    color: rgb(140, 76, 8)
}
h2{
    color: rgb(140, 76, 8)
}

